<div class="border-bottom row" style="margin-bottom: 16px;padding-bottom:8 px;">
    <div class="col-9">
        <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px;">
            {{ job.title }}
        </h4>
        <div>
            <b>Location:</b> {{ job.location }}
        </div>
        {% if 'salary' in job %}
        <div>
            <b>Salary:</b> {{ job.salary }}
        </div>
        {% endif %}
    </div>
    <!--<div class="col-3">
        <a href="mailto:suchanabhowal@gmail.com?subject=This%20is%20the%20subject&cc=samitbhowal@yahoo.com&body=This%20is%20the%20body"  type="button"
         class="btn btn-outline-primary">Apply Here</a>
    </div> !-->
    <div class="col-3">
        <a href="mailto:suchanabhowal@gmail.com?subject=This%20is%20the%20subject&cc=samitbhowal@yahoo.com&body=LinkedIn:%20[LinkedIn_Link]%0D%0AResume:%20[Resume_Link]" 
        type="button" class="btn btn-outline-primary">Apply Here</a>
    </div>
    
</div>